<div class="flex flex-col justify-center items-center min-h-screen">
    <div class="text-center max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Dashboard</h1>
        <p class="mb-5">
            Automatiza tu estrategia, monitorea tus resultados y toma decisiones inteligentes.
            Tu negocio, en tiempo real.
        </p>
    </div>

    <div>
        <button class="btn btn-soft mr-4 w-30">Iniciar sesión</button>
        <button class="btn btn-primary w-30">Registrarse</button>
    </div>
</div>