<form [formGroup]="resetPasswordForm" (submit)="onResetPassword()">
    <div>
        <h1>Restablecer contraseña</h1>
        <p>Introduce tu correo y te enviaremos instrucciones para restablecer tu contraseña</p>
    </div>

    <div>
        <label class="label" for="email">Correo electrónico</label>
        <input id="email" type="email" class="input" formControlName="email" />

        <div>
            <button type="submit">Enviar</button>
        </div>
    </div>
</form>

@if (hasError()) {
    <div role="alert">
        <span>¡Error! Por favor revise la información ingresada.</span>
    </div>
} @else if (linkSent()) {
    <div role="alert">
        <span>¡Éxito! Se ha enviado un enlace para restablecer la contraseña a su correo electrónico.</span>
    </div>
}