<form [formGroup]="resetPasswordForm" (submit)="onResetPassword()" class="card bg-base-100 w-svw sm:w-96 shadow-none sm:shadow-sm">
    <div class="card-body">
        <h1 class="card-title m-auto">Restablecer contraseña</h1>
        <p class="my-2">Introduce tu correo y te enviaremos instrucciones para restablecer tu contraseña</p>

        <label class="label" for="email">Correo electrónico</label>
        <input id="email" type="email" class="input w-full" formControlName="email" />

        <div class="card-actions justify-center mt-4">
            <button type="submit" class="btn btn-primary w-full">Enviar</button>
        </div>

        <p>
            <a [routerLink]="['/auth/login']" class="link link-secondary">Iniciar sesión</a>
            con tus credenciales.
        </p>
    </div>
</form>

@if (hasError()) {
    <div role="alert" class="absolute bottom-4 right-4 alert alert-error alert-soft">
        <span>¡Error! Por favor revise la información ingresada.</span>
    </div>
} @else if (linkSent()) {
    <div role="alert" class="absolute bottom-4 right-4 alert alert-success alert-soft">
        <span>¡Éxito! Se ha enviado un enlace para restablecer la contraseña a su correo electrónico.</span>
    </div>
}