<h1 class="text-4xl text-center font-bold font-array text-primary mb-8">Dashboard</h1>
<h2 class="text-2xl text-center font-bold mb-8">Inicia sesión en tu cuenta</h2>

<form [formGroup]="loginForm" class="card bg-base-100 w-svw sm:w-96 shadow-none sm:shadow-sm">
    <div class="card-body">
        <label class="label" for="email">Correo electrónico</label>
        <input 
            id="email" 
            type="email" 
            formControlName="email"
            class="input w-full" 
            [class.border-error]="loginForm.get('email')?.errors && loginForm.touched"
            [class.focus:outline-error]="loginForm.get('email')?.errors && loginForm.touched" 
        />
        <app-form-error [formGroup]="loginForm" field="email" message="Correo electrónico inválido"></app-form-error>

        <label class="label" for="password">Contraseña</label>
        <input 
            id="password" 
            type="password" 
            formControlName="password" 
            class="input w-full" 
            [class.border-error]="loginForm.get('password')?.errors && loginForm.touched"
            [class.focus:outline-error]="loginForm.get('password')?.errors && loginForm.touched" 
        />
        <app-form-error [formGroup]="loginForm" field="password" message="La contraseña debe tener al menos 6 caracteres"></app-form-error>

        <div class="card-actions justify-center my-4">
            <button class="btn btn-primary w-full" (click)="onLogin()">Iniciar sesión</button>

            <button class="btn bg-white text-black border-[#e5e5e5] w-full" (click)="onLoginWithGoogle()">
                <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
                Iniciar sesión con Google
            </button>
        </div>

        <p>
            ¿Aún no tienes cuenta? 
            <a [routerLink]="['/auth/register']" class="link link-secondary">Regístrate gratis</a>.
        </p>
        <p>
            ¿Olvidaste tu contraseña? 
            <a [routerLink]="['/auth/reset-password']" class="link link-secondary">Restablecer contraseña</a>.
        </p>
    </div>
</form>

@if (hasError()) {
    <div role="alert" class="absolute bottom-4 right-4 alert alert-error alert-soft">
        <span>¡Error! Por favor revise la información ingresada.</span>
    </div>
}